<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployed PoC Model - Example</title>
</head>

<body style="font-size: 20px;">
    <h1 style="text-align: center;">Simple Sever! Just For the Deployment of PoC</h1>
    <h2 style="text-align: center;">Just For Showing the! How to Deploy the Model! <hr></h3>
    <center style="padding-top: 8%;">
        <form action="/sub" method="POST">
            <label for="amount">Amount of Invoice</label>
            <input type="text" name="amount" id="amount">
            <label for="currency">Currency</label>
            <input type="text" name="currency" id="currency">
            <button type="submit">Submit the Data</button>
        </form>
    </center>
</body>
</html>